@import '../footer-view/footer-view.scss';
@import '../footer-nav/footer-nav.scss';
@import '../footer-subscribe/footer-subscribe.scss';

.footer-head {
  display: flex;
  align-items: center;
  padding: 0 110px;
  max-width: 1380px;
  min-height: 372px;
  margin: 0 auto;
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 35px;
  }
}
