@import "./veriables.scss";
@import "./fonts.scss";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  line-height: 24px;
  font-family: Montserrat-normal;
  font-style: normal;
  background-color: white;
}
