@import "../../styles/global/global.scss";
@import "../../styles/global/veriables.scss";

a.button {
  min-height: 34px;
  padding: 9px 20px 10px 20px;
}

.button {
  text-decoration: none;
  position: relative;
  &_theme {
    &-filled {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
    }
    &-bordered {
      border: 2px solid $purple;
      border-radius: 22px;
      color: $purple;
    }
  }
  &_size {
    &-short {

    }
  }
  &__text_white {
    @include font-bold($h3, white);
    text-transform: uppercase;
  }
  &__text_inherit {
    @include font-bold($h3,inherit);
    text-transform: uppercase;
  }
}