mixin button({link, title, theme, long, type})
  - 
    let classArray = []

    if (theme) classArray.push("button_theme-filled") 
      else classArray.push("button_theme-bordered")

    if (long) classArray.push("button_size-long") 
      else classArray.push("button_size-short")

  if link
    a.button(class=classArray href=link)
      span( class = theme ? "button_text-white" 
      : "button__text-inherit ")=title
      if long
        span.button__arrow 
  else 
    button.button(class=classArray type=type)
      span( class = theme ? "button_text-white" 
      : "button_text-inherit ")=title
      if long
        span.button__arrow 