@import "../../styles/global/global.scss";
@import "../../styles/global/veriables.scss";

a.button {
  height: 34px;
  display: inline-flex;
  align-items: center;
  background-origin: border-box;
  padding: 9px 20px 10px 19px;
}

.button {
  text-decoration: none;
  @include font-bold($h3,$purple);
  text-transform: uppercase;
  &_theme {
    &-filled {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
    }
    &-bordered {
      border: 2px solid $purple;
      border-radius: 22px;
      color: $purple;
    }
  }
  &_size {
    &-short {
      
    }
  }
  &_color {
    &-white {
      color: #fff;
    }
    &-purple {
      color: $purple;
    }
  }
}