@import "../../styles/global.scss";

.color {
  display: flex;
  display: row;

  &__name {
    @include font-bold($h2);
  }
  &__code {
    @include font-normal($h2);
  }
  &__discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__box {  
    width: 70px;
    height: 70px;
    margin-right: 40px;
    gap: 20px;
    border-radius: 10%;
  }
}