.footer-bottom {
  margin: 0 auto;
  padding: 0 110px;
  max-width: 1440px;
  position: relative;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__copyright {
    @include font-normal($body, $dark-shade-75)
  }
  &__social {
    background-image: $purple-gradient;
    background-clip: text;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &_twit {
      @include awesome-icon($twit, transparent, 21px);
    }
    &_fb {
      @include awesome-icon($fb, transparent, 22px);
    }
    &_inst {
      @include awesome-icon($inst, transparent, 22px);
    }
  }
}