.footer-bottom {
  position: relative;
  min-height: 70px;
  grid-column:  span 12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    left: -100vmax;
    right: -100vmax;
    top: -1px;
    overflow: hidden;
    margin: 0 auto;
    height: 1px;
    max-width: 100vw;
    background-color: rgba(31,32,65,.1);
  }
  &__copyright {
    @include font-normal($body, $dark-shade-75)
  }
  &__social {
    background-image: $purple-gradient;
    background-clip: text;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &_twit {
      @include awesome-icon($twit, transparent, 21px);
    }
    &_fb {
      @include awesome-icon($fb, transparent, 22px);
    }
    &_inst {
      @include awesome-icon($inst, transparent, 22px);
    }
  }
}