extends ../../layouts/main/main
include ../../components/field/field
include ../../components/type/type

block variables
  - var title = "form-elements";
  - var discription = "website components";
  - var logo = "logo-grey.svg";
  - var background = false;

block content
  - const { fields } = require('./form-elements.json')
  .components
    each field in fields
      +field(field)

    

    