extends ../../layouts/main/main
include ../../components/color/color
include ../../components/type/type

block variables
  - var title = "form-elements";
  - var discription = "website components";
  - var logo = "logo-grey.svg";
  - var background = false;

block content
  - const { field } = require('./form-elements.json')
  .components
    

    