extends ../../layouts/main/main
include ../../components/field/field
include ../../components/checkbox/checkbox
include ../../components/radio/radio

block variables
  - var title = "form-elements";
  - var discription = "website components";
  - var logo = "logo-grey.svg";
  - var background = false;

block content
  - const { fields, checkbox, radio } = require('./form-elements.json')
  .components
    .components__column
      each field in fields
        +field(field)
    .components__column
      +checkbox(checkbox)
      +radio(radio)

    

    