@import "./veriables.scss";
@import "./fonts.scss";

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  @include font-normal($body);
  background-color: white;
}
