@import '~normalize.css';
@import "./veriables.scss";
@import "./fonts.scss";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  @include font-normal($body);
  background-color: red;
}
