@import "~normalize.css";
@import "roboto.css";

.container {
  padding-top: 2 rem;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../assets/png-example.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}