extends ../../layouts/main/main
include ../../components/menu/menu

block variables
  - var title = "webpack";
  - var discription = "Webpack course";
  - var logo = "logo-grey.svg";
  - var background = true;

block content
  - const { menu } = require("./index.json")

  .menu 
    .menu__nav
      each items in menu
        +menu(items)
