extends ../../layouts/main/main

block variables
  - var title = "webpack";
  - var discription = "Webpack course";

    a(class="color__box_dark-shade-100" href="./colors_and_types.html") colors_and_types
