extends ../../layouts/main

block variables
  - var title = "webpack";
  - var discription = "Webpack course";

    section
      .container 
        h1 Webpack config
        p heheh
    section
      .container 
        h1 Webpack config
        p Hello pug
