extends ../../layouts/main/main
include ../../components/menu/menu

block variables
  - var title = "webpack";
  - var discription = "Webpack course";
  - var logo = "logo-grey.svg";
  - var background = false;

block content
  - const { menu } = require("./index.json")

  +menu(menu)
