@import '../../layouts/main/main.scss';
@import '../../components/header/header.scss';
@import '../../components/nav/nav.scss';
@import '../../styles/global/global.scss';
@import '../../styles/global/includes.scss';

.header-footer {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 40px;
  padding-top: 55px;
}