extends ../../layouts/main/main
include ../../components/header/header

block variables
  - var title = "Header and footer";
  - var discription = "Header&Footer page";
  - var logo = "logo-grey.svg";
  - var background = true;

block content
  - const { header, headerAccount } = require('./header_and_footer.json')
   .header-footer
    +header(header)
    +header(headerAccount)