mixin footer-nav({title, list})
  .footer-nav
    span.footer-nav__title= title
    ul.footer-nav__items
      each link in list 
        - const { href, item } = link
          li.footer-nav__item
            a.footer-nav__link(href=href || "./index.html")= item
