mixin footer-nav({title, list})
  ul.footer-nav
    li.footer-nav__item
      span.footer-nav__title= title
        each link in list 
          - const { href, item } = link
            li.footer-nav__item
              a.footer-nav__link(href=href || "./index.html")= item
