@import "../../styles/global.scss";

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  & * {
    @include font-normal($body, $dark-shade-75);
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 44px;
    border: 1px solid black;
    border-radius: 4px;
  }
  &__mail { 
  width: calc(100% - 44px);
  height: 100%;
  outline: none;
  border: none;
  padding-left: 15px;
  &::placeholder {
      color: $dark-shade-25;
    }
  }
  &__submit {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    width: 44px;
    height: 50px;
    cursor: pointer; 
    outline: none;
    border: none;
    background: $purple-gradient;
    background-clip: text;
  }
  &__icon-arrow {
    @include font-icon(24px, transparent);
  }
}