@import "../../styles/global.scss";

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  & * {
    @include font-normal($body, $dark-shade-75);
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    height: 44px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    &:hover,
    &:focus {
      border: 1px solid $dark-shade-75;
      outline: none;
    }
  }
  &__mail { 
    vertical-align: middle;
    flex-grow: 1;
    padding: 0;
    min-height: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    box-sizing: border-box;
  &::placeholder {
      color: $dark-shade-25;
    }
  }
  &__submit {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    min-width: 44px;
    min-height: 100%;
    cursor: pointer; 
    outline: none;
    border: none;
    background: $purple-gradient;
    background-clip: text;
  }
  &__icon-arrow {
    @include material-icon(24px, transparent);
    vertical-align: middle;
  }
}