include ../nav/nav

mixin header({items, auth, account, logo})
  .header
    .header__nav 
      a.header__logo-link(href=logo.href || "./index.html")
        img.header__logo-img(src=logo.src alt=logo.alt || "logo")
      +nav({items, auth, account})
