
.header {
  background-color: white;
  box-shadow: 0 0 5px rgb(31 32 65 / 50%);
  padding: 15px 30px;
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-height: 100%;
    padding: 0 110px;
  }
  &__logo-img {
    vertical-align: middle;
  }
}