block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="discription", content=discription)
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title #{title}
  body(class=background ? 'main main__background_grey' : 'main')
    img.main__link(src="assets/img/"+ logo alt="logo")
    block content