@import "../../styles/global/global.scss";
@import "../../styles/global/veriables.scss";

.font {
  display: flex;
  display: row;

  &_size_h1 {
    @include font-bold($h1)
  }
  &_size_h2 {
    @include font-bold($h2)
  }
  &_size_h3 {
    @include font-bold($h3)
  }
  &_size_body {
    @include font-normal($body,$dark-shade-75)
  }
  
  &__tag {
    color: $dark-shade-25;
    text-align: right;
    min-width: 37px;
  }
  &__task {
    margin-left: 30px;
    line-height: 24px;
    text-align: left;
  }
}