mixin text-field({mail, arrow})
  .text-field 
    if mail
      input.text-field__mail(
        class=mail.sub ? "text-field__mail_width-small" : "" 
        name="email"
        placeholder=mail.ph
      )
      if arrow 
        

    
