@import '../../styles/global/veriables.scss';
@import "../footer-nav/footer-nav.scss";
@import "../footer-subscribe/footer-subscribe.scss";

.footer {
  background-color: white;
  box-shadow: 0 0 5px rgb(31 32 65 / 50%);
  padding: 100px 110px 0px;
  &__container {
    padding: 0 30px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 260px;
  }
 
  &__logo-img {
    vertical-align: middle;
  }
}