include ../nav/nav

mixin footer({columns, logo})
  .footer
    .footer__nav
      .footer__view
        a.footer__logo-link(href=logo.href || "./index.html")
          img.footer__logo-img(src=logo.src alt=logo.alt || "logo")
        .footer__about Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      +nav({columns})