@import '../../styles/veriables.scss';
@import '../footer-nav/footer-nav.scss';
@import '../footer-subscribe/footer-subscribe.scss';
@import '../footer-bottom/footer-bottom.scss';

.footer {
  background-color: white;
  box-shadow: 0 0 5px rgb(31 32 65 / 50%);
  padding: 100px 110px 0px;
  min-height: 372px;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 100px 35px;
    padding: 0 30px;
    max-width: 1380px;
    margin: 0 auto;
  }
  &__view {
    grid-column: span 3;
    gap: 20px;
    max-width: 265px;
    padding-right: 5px;
  }
  &__about {
    padding-top: 15px;
  }
    &__logo-img {
    vertical-align: middle;
  }
}