extends ../../layouts/main/main
include ../../components/color/color
include ../../components/type/type

block variables
  - var title = "colors and types";
  - var discription = "colors and fonts";

  body.container
    .wrapper
      +colors
      +types
