@import '../../components/type/type.scss';

@import '../../components/color/color.scss';

.container {
  max-width: 1920px;
  min-width: 320px;
  margin-top: auto;
  padding: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}