@import '../../components/type/type.scss';
@import '../../components/color/color.scss';
@import '../../layouts/main/main.scss';
@import '../../styles/global/global.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}