extends ../../layouts/main

block variables
  - var title = "colors and types";
  - var discription = "colors and fonts";

    section
      .container 
        h1 Webpack config
        p hey
    section
      .container 
        h1 Webpack config
        p Hello pug
