@import '../../components/type/type.scss';
@import '../../components/color/color.scss';
@import '../../layouts/main/main.scss';
@import '../../styles/global.scss';
@import '../../styles/includes.scss';

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__colors {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__types {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 436px;
  }
}