@import "../field/field.scss";

.footer-subscribe {
  grid-column: span 3;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5px;
  gap: 15px;
  margin: 0;
  max-width: 265px;

  @include font-normal($body);
  &__title {
    text-transform: uppercase;
    @include font-bold($h3,$dark-shade-100);
  }
  &__text {
    color: $dark-shade-75;
    line-height: 24px;
    padding-bottom: 5px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}