@import "../../styles/veriables.scss";
@import "../../styles/global.scss";


.index {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  &__nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(217, 181, 150, 30%);
    padding: 20px 50px;
    gap: 30px;
    box-shadow: 0 0 10px $dark-shade-50;
  }
  &__link {
    @include font-normal($h2);
    text-decoration:none;
    position: relative;
    &:hover:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0px;
      background-color: $dark-shade-75;
    }
  }
}